:root {
	--hand-len-base: 300px;
}

body {
	text-align: center;
	background: url('../images/StockSnap_night.jpg') no-repeat center center fixed;
	height: 100vh
		/* Resize */
/*	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}

/*.gradient {
  background-image:
    linear-gradient(to left top, red, #064369);
}
*/

a {
	text-decoration: none;
	color: #aff;
	opacity: 0.6;
}
a:hover {
	text-decoration: underline;
}

.clock {
	box-sizing: border-box;
	opacity: 0;
	width: 75vh;
	height: 75vh;
	min-width: var(--hand-len-base);
	min-height: var(--hand-len-base);
	vertical-align: middle;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.clock-face {
	box-sizing: border-box;
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
	border: 20px solid rgba(255,255,255,0.1);
	border-radius: 50%;
}

.hand {
	position: absolute;
	left: 10%;
	top: 50%;
	height: 0px;
	border-top: 4px solid #0000ff;
	width: 45%;
	transform-origin: 90%;
	transform: rotate(90deg);
	transition: all 0.5s;
	/*transition-timing-function: cubic-bezier(0.32, 1.39, 1, 1.18);*/
	transition-timing-function: cubic-bezier(0.87, 1.65, 0.63, 0.77);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.hour-hand {
	left: 20%;
	width: 35%;
	transform-origin: 87.5%;
	border-top: 4px solid #ff8888;
	z-index: 20;
}
.min-hand {
	/*left: 10%;
	width: 45%;
	transform-origin: 90%;*/
	border-top: 4px solid #bbbbaa;
	z-index: 10;
}
.sec-hand {
	/*left: 10%;
	width: 45%;
	transform-origin: 90%;*/
	border-top: 2px solid #ff8800;
	z-index: 30;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.footer {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 20px;
	text-align: right;
	position: fixed;
	left: 0;
	bottom: 0;
}

.footer-style {
	color: #aaa;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.fade-in {
	opacity: 1;
	/*transition: opacity 0.5s;*/
	animation-name: FADE-IN;
	animation-duration: 1s;
}

@keyframes FADE-IN {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}